{% extends 'index.html' %} {% block title %}| committess {% endblock %} {%block body %}

<div>
  <div class="pdd"><h2>About Committees</h2></div>
  <div class="pddd">
    <p>
      <strong>MUMAS KEMAKOM 2023</strong> <br /><em style="font-style: italic"
        >Ketua Divisi Acara</em
      >
    </p>
    <p>
      <strong>INAUGURATION KEMAKOM 2023</strong> <br /><em
        style="font-style: italic"
      >
        Staff Divisi Acara</em
      >
    </p>
    <p>
      <strong>MUMAS KEMA FPMIPA 2024</strong> <br /><em
        style="font-style: italic"
        >STaff Divisi Humas</em
      >
    </p>
    <p>
      <strong>KEMAKOM GOES TO SCHOOL 2024</strong> <br /><em
        style="font-style: italic"
        >Master Of Ceremony (MC)</em
      >
    </p>
    <p>
      <strong>PELATIHAN KEWIRAUSAHAAN 2024</strong> <br /><em
        style="font-style: italic"
        >Ketua Pelaksana</em
      >
    </p>
  </div>

</div>

{% endblock %}
