{% extends 'index.html' %} {% block title %}| committess {% endblock %} {%block body %}

<div>
  <div class="pnit"><h2>About Committees</h2></div>
  <div class="panitia">
    <p>
      <strong>MUMAS KEMAKOM 2023</strong> <br /><em style="font-style: italic"
        >Ketua Divisi Acara</em
      >
    </p>
    <p>
      <strong>INAUGURATION KEMAKOM 2023</strong> <br /><em
        style="font-style: italic"
      >
        Staff Divisi Acara</em
      >
    </p>
    <p>
      <strong>MUMAS KEMA FPMIPA 2024</strong> <br /><em
        style="font-style: italic"
        >STaff Divisi Humas</em
      >
    </p>
    <p>
      <strong>KEMAKOM GOES TO SCHOOL 2024</strong> <br /><em
        style="font-style: italic"
        >Master Of Ceremony (MC)</em
      >
    </p>
    <p>
      <strong>PELATIHAN KEWIRAUSAHAAN 2024</strong> <br /><em
        style="font-style: italic"
        >Ketua Pelaksana</em
      >
    </p>
  </div>

  <a
    href="index.html"
    class="home"
    style="
      text-decoration: none;
      padding-left: 600px;
      font-family: 'poppins', sans-serif;
    "
    >Home</a
  >
  <div
    class="credit"
    style="
      text-align: center;
      font-family: 'Poppins', sans-serif;
      padding-top: 150px;
      color: #2e5761;
    "
  >
    <p>2300498 - Alvyn Hadrian Nugraha | &copy; Pemrograman Internet 2024</p>
  </div>
</div>

{% endblock %}
