{% extends 'index.html' %} {% block title %}| education {% endblock %} {% block body %}

<div>
  <div class="pdd">
    <h2><strong>About Education</strong></h2>
  </div>

  <div class="pddd">
    <p>
      Universitas Pendidikan Indonesia - Bandung, Indonesia 2023<br /><strong
        style="font-style: italic"
        >Pendidikan Ilmu Komputer</strong
      >
    </p>
    <p>
      SMAN 6 Pandeglang - Banten Indonesia 2020<br /><strong
        style="font-style: italic"
        >Matematika dan Ilmu Pengetahuan Alam</strong
      >
    </p>
    <p>SMPN 1 Mandalawangi - Banten, Indonesia 2017</p>
  </div>


</div>

{% endblock %}
