{% extends 'index.html' %} {% block title %}| expertise {% endblock %} {%block body %}

<div>
  <div class="ahli">
    <h2>About Expertise</h2>
  </div>

  <div class="ahl">
    <p>
      Mampu Mengoprasikan Microsoft <strong>Word, Excel, PowerPoint</strong>
    </p>
    <p>Mampu Mengoprasikan Sofware Editing <strong>Canva & Figma</strong></p>
    <p>
      MAMPU MENGOPRASIKAN BAHASA PEMROGRAMAN<strong>
        Python,C,Html,CSS,Javascript</strong
      >
    </p>
  </div>

  <a
    href="index.html"
    class="home"
    style="
      text-decoration: none;
      padding-left: 600px;
      font-family: 'poppins', sans-serif;
    "
    >Home</a
  >
  <div
    class="credit"
    style="
      text-align: center;
      font-family: 'Poppins', sans-serif;
      padding-top: 180px;
      color: #2e5761;
    "
  >
    <p>2300498 - Alvyn Hadrian Nugraha | &copy; Pemrograman Internet 2024</p>
  </div>
</div>

{% endblock %}
