{% extends 'index.html' %} {% block title %}| expertise {% endblock %} {%block body %}

<div>
  <div class="pdd">
    <h2>About Expertise</h2>
  </div>

  <div class="pddd">
    <p>
      Mampu Mengoprasikan Microsoft <strong>Word, Excel, PowerPoint</strong>
    </p>
    <p>Mampu Mengoprasikan Sofware Editing <strong>Canva & Figma</strong></p>
    <p>
      MAMPU MENGOPRASIKAN BAHASA PEMROGRAMAN<strong>
        Python,C,Html,CSS,Javascript</strong
      >
    </p>
  </div>

</div>

{% endblock %}
