{% extends 'index.html' %} {% block title %}| organization {% endblock %} {%block body %}

<div>
  <div class="pdd">
    <h2>About Organization</h2>
  </div>

  <div class="pddd">
    <p>
      <strong>BEM KEMAKOM FPMIPA UPI</strong><br /><em
        style="font-style: italic"
        >Sekretaris Divisi Ekonomi & Bisnis</em
      >
    </p>
    <p>
      <strong>BAM ALANG INSTITUTE</strong><br /><em style="font-style: italic"
        >Manager Media Partner</em
      >
    </p>
  </div>

</div>
{% endblock %}
