{% extends 'index.html' %} {% block title %}| organization {% endblock %} {%block body %}

<div>
  <div class="orga">
    <h2>About Organization</h2>
  </div>

  <div class="org">
    <p>
      <strong>BEM KEMAKOM FPMIPA UPI</strong><br /><em
        style="font-style: italic"
        >Sekretaris Divisi Ekonomi & Bisnis</em
      >
    </p>
    <p>
      <strong>BAM ALANG INSTITUTE</strong><br /><em style="font-style: italic"
        >Manager Media Partner</em
      >
    </p>
  </div>

  <a
    href="index.html"
    class="home"
    style="
      text-decoration: none;
      padding-left: 600px;
      font-family: 'poppins', sans-serif;
    "
    >Home</a
  >
  <div
    class="credit"
    style="
      text-align: center;
      font-family: 'Poppins', sans-serif;
      padding-top: 180px;
    "
  >
    <p style="color: #2e5761">
      2300498 - Alvyn Hadrian Nugraha | &copy; Pemrograman Internet 2024
    </p>
  </div>
</div>
{% endblock %}
